[Unit]
Description=Flannel CNI Daemon for rMiniK8s
After=network-online.target firewalld.service containerd.service time-set.target

[Service]
EnvironmentFile=/etc/rminik8s/conf.env
ExecStart=/usr/local/bin/flanneld --etcd-endpoints=${ETCD_ENDPOINT}
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target