[Unit]
Description=rKubelet
After=network-online.target firewalld.service containerd.service time-set.target flanneld.service

[Service]
EnvironmentFile=/etc/rminik8s/conf.env
ExecStart=/usr/local/bin/rkubelet

[Install]
WantedBy=multi-user.target